@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
.head-bg{
    background: rgba(38, 70, 83, 1);
}
 .head-text span{
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
   
    
}
.head-text h1{
    font-family: Poppins;
    font-weight: 600;
    font-size: 42px;
} 
.navbar-nav a {
    color: white !important;
    margin-right: 10px;
}  
.padding{
    padding: 40px;
}
.bt-background{
    background: #e76f51 !important;
    color :white;
}

.color{
    color: #E76F51;
}
hr {
        background-color: #E76F51;
        border: none;
        width: 58px;
  }

.alignment{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.grayscale{
    filter: grayscale(100%);
}
/* .user-img img{
    border-radius: 50%;
} */
.star{
    color: #E77C40;
}
.border{
    border: #E77C40;
    background-color: white;
}








